@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
/*TITULOS*/
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    background: linear-gradient(10deg, black,red)
}
/*HEADER*/
header h1{
    background-color: gray;
    text-align: center;
    color: greenyellow;
}
/*CONTENEDORES*/
.Contenedor{
    background-color: black;
    color: white;
    padding: 10%;
    text-align: center;
    margin: 2%;
}
.Contenedor section ul{
    color: rgb(18, 255, 223);
    text-align: left;
    list-style: none;
}
footer{
    background-color: darkcyan;
    color: chartreuse;
    text-align: center;
    width: 95%;
    height: 10%;
    padding: 10px;
    margin-top: 2%;
}
footer p{
    text-align: center;

}
/*Para los botones*/
#btnAceptar{
    color: black;
    background-color: red;
    width: 70px;
    height: 20px;
    transition: 0.5s ease;
}
#btnAceptar:hover{
    color: white;
    background-color: black;
    border: 1px solid red;
}
#btnIniciarSesion{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    background-color: yellow;
    transition: 0.5s ease;
}
#btnIniciarSesion:hover{
    background-color: chartreuse;
    color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px green;
    transform: scale(1.1);
}
#btnCrearCuenta{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(30, 255, 0);
    transition: 0.5s ease;
}
#btnCrearCuenta:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(0, 51, 128);
    transform: scale(1.1);
}
/*SECTIONS*/
section{
    padding: 10%;
    margin: 2%;
    border: 2px solid white;
    box-shadow: 10px 10px 10px white;
}
/*ESTILOS DEL FORMULARIO*/
.Formulario{
    background: linear-gradient(60deg, rgb(255, 255, 255), yellow);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 1%;
}
