@charset "UTF-8";
*{
    padding: 0;
    box-sizing: border-box ;
    margin: 0;
}
/*TITULOS*/
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    background: linear-gradient(10deg, black,red)
}
/*HEADER*/
header h1{
    background-color: gray;
    text-align: center;
    color: greenyellow;
}
/*CONTENEDORES*/
.Contenedor{
    background-color: black;
    color: white;
    padding: 10%;
    text-align: center;
    margin: 2%;
}
.Contenedor section ul{
    color: rgb(18, 255, 223);
    text-align: left;
    list-style: none;
}
footer{
    background-color: darkcyan;
    color: chartreuse;
    text-align: center;
    width: 95%;
    height: 10%;
    padding: 10px;
    margin-top: 2%;
}
footer p{
    text-align: center;

}
/*Para los botones*/
#btnAceptar{
    color: black;
    background-color: red;
    width: 70px;
    height: 20px;
    transition: 0.5s ease;
}
#btnAceptar:hover{
    color: white;
    background-color: black;
    border: 1px solid red;
}
#btnIniciarSesion{
    width: 110px;
    height: 50px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    background-color: yellow;
    transition: 0.5s ease;
}
#btnIniciarSesion:hover{
    background-color: chartreuse;
    color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px green;
    transform: scale(1.1);
}
#btnCrearCuenta{
    width: 120px;
    height: 50px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(30, 255, 0);
    transition: 0.5s ease;
}
#btnCrearCuenta:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(0, 51, 128);
    transform: scale(1.1);
}
input[type="button"], button{
    color: black;
    background-color: gray;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    transition: 0.5s ease;
}
input[type="button"]:hover, button:hover{
    box-shadow: 10px 10px 10px red;
    background-color: white;
    color: blueviolet;
}
.Editar{
    color: white;
    background-color: green;
}
.Eliminar{
    color: white;
    background-color: red;
}
/*SECTIONS*/
section{
    padding: 10%;
    margin: 2%;
    border: 2px solid white;
    box-shadow: 10px 10px 10px white;
}
/*ESTILOS DEL FORMULARIO*/
.Formulario{
    background: linear-gradient(60deg, rgb(255, 255, 255), yellow);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 1%;
}
.Formulario label{
    font-weight: bold;
    color: black;
}
.Formulario fieldset{
    color: black;
}
.Formulario button[type="submit"]{
    align-items: center;
    background-color: greenyellow;
    color: rgb(138, 19, 19);
    margin: auto;
}
.Formulario input[type="text"]{
    text-align: center;
}
/*PARA LAS TABLAS*/
table {
    color: cadetblue;
    width: 80%;
    margin: 10px;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    background: linear-gradient(0deg, black,gray);
    border: 1px solid #aaa;
    padding: 10px;
    color: violet;
    text-align: center;
    }
th {
     background: #eee;
     color: black;
}

/*PARA LOS DIVS DEL ASIDE*/
.div-aside{
    width: 100%;
    display: flex;
}
.main{
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    height: 100%;
    border: 1px solid white;
}
#RESULTADO_Vehiculo{
    margin-right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    height: 100%;
    border: 1px solid white;
}

