@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
header{
    background-color: gray;
    text-align: center;
    color: greenyellow;
}
.Contenedor{
    background-color: black;
    color: white;
    padding: 10%;
    text-align: center;
    margin: 2%;
}
.Contenedor section ul{
    color: rgb(18, 255, 223);
    text-align: left;
    list-style: none;
}
footer{
    background-color: darkcyan;
    color: chartreuse;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 10%;
    padding-bottom: 10px;
    margin-bottom: 10px ;
}
footer p{
    text-align: center;
    margin: 15px 10px;
}
/*Para los botones*/
#btnAceptar{
    color: black;
    background-color: red;
    width: 70px;
    height: 20px;
    transition: 0.5s ease;
}
#btnAceptar:hover{
    color: white;
    background-color: black;
    border: 1px solid red;
}
#btnIniciarSesion{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    background-color: yellow;
    transition: 0.5s ease;
}
#btnIniciarSesion:hover{
    background-color: chartreuse;
    color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px green;
    transform: scale(1.1);
}
/*SECTIONS*/
section{
    padding: 10%;
    margin: 2%;
    border: 2px solid white;
    box-shadow: 10px 10px 10px white;
}