@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
header{
    background-color: gray;
    text-align: center;
    color: greenyellow;
}
.Contenedor{
    background-color: black;
    color: white;
    padding: 10%;
    text-align: center;
    margin: 2%;
}
footer{
    background-color: darkcyan;
    color: chartreuse;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 10%;
    padding-bottom: 10px;
    margin-bottom: 10px ;
}
footer p{
    text-align: center;
    margin: 15px 10px;
}